[submodule "zirconium/vendor/spdlog"]
	path = zirconium/vendor/spdlog
	url = https://github.com/Ironowl1907/spdlog.git
[submodule "zirconium/vendor/glfw"]
	path = zirconium/vendor/glfw
	url = https://github.com/ironowl1907/glfw
[submodule "zirconium/vendor/imgui"]
	path = zirconium/vendor/imgui
	url = https://github.com/Ironowl1907/imgui.git
	branch = docking
[submodule "zirconium/vendor/glm"]
	path = zirconium/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "zirconium/vendor/entt"]
	path = zirconium/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "zirconium/vendor/yaml-cpp"]
	path = zirconium/vendor/yaml-cpp
	url = https://github.com/Ironowl1907/yaml-cpp.git
[submodule "zirconium/vendor/ImGuiFlieDialog"]
	path = zirconium/vendor/ImGuiFileDialog
	url = https://github.com/Ironowl1907/ImGuiFileDialog.git
