[submodule "zirconium/vendor/spdlog"]
	path = zirconium/vendor/spdlog
	url = https://github.com/Ironowl1907/spdlog.git
[submodule "zirconium/vendor/glfw"]
	path = zirconium/vendor/glfw
	url = https://github.com/ironowl1907/glfw
[submodule "zirconium/vendor/imgui"]
	path = zirconium/vendor/imgui
	url = https://github.com/Ironowl1907/imgui.git
	branch = docking
[submodule "zirconium/vendor/glm"]
	path = zirconium/vendor/glm
	url = https://github.com/g-truc/glm.git
